# 1. Database 설정 (Docker Compose의 서비스 이름 'db' 사용)
# 형식: postgresql+asyncpg://[사용자]:[비밀번호]@[호스트]:[포트]/[DB이름]
DB_USER=reviewer
DB_PASSWORD=your_password
DB_NAME=review_sense
DATABASE_URL=postgresql+asyncpg://postgres:0829@db:your_password/review_sense

# 2. AI 모델 및 API 설정
OPENAI_API_KEY=sk-proj-XXXXXXXXXXXXXXXXXXXXXXXXXXXX
EMBEDDING_MODEL_NAME=jhgan/ko-sroberta-multitask

# 3. App 설정
PROJECT_NAME="Review-Sense Semantic Search"
API_V1_STR=/api/v1

# 4. CORS 설정 (프론트엔드 주소)
BACKEND_CORS_ORIGINS=http://localhost:3000,http://127.0.0.1:3000